html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.warning, .error, .success, .message {
  border: 1px solid #000;
  padding: 10px;
  color: #333;
}

.container {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 5px;
  color: black;
  width: 100%;
  display: inline-block;
}

.text_centered {
  text-align: center;
  justify-content: center;
}

.flex_row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.flex_column {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}

.div-form {
  border-radius: 5px;
  background: #f2f2f2;
  padding: 20px;
}

.fg-black {
  color: #000;
}

.fg-silver {
  color: #c0c0c0;
}

.fg-red {
  color: #dc143c;
}

.fg-none {
  color: transparent;
}

.bg-none {
  background: transparent;
}

.bg-black {
  background: #000;
}

.bg-silver {
  background: #c0c0c0;
}

.bg-red {
  background: #dc143c;
}

.border-black {
  border: 1px solid #000;
}

.border-silver {
  border: 1px solid #c0c0c0;
}

.border-red {
  border: 1px solid #dc143c;
}

.border-green {
  border: 1px solid #68d683;
}

.border-blue {
  border: 1px solid #106784;
}

.header-black {
  padding: 60px;
  text-align: center;
  background: #000;
  color: #c0c0c0;
  font-size: 30px;
}

.header-silver {
  padding: 60px;
  text-align: center;
  background: #c0c0c0;
  color: #c0c0c0;
  font-size: 30px;
}

.header-red {
  padding: 60px;
  text-align: center;
  background: #dc143c;
  color: #c0c0c0;
  font-size: 30px;
}

.navigation {
  background: #000;
  padding: 20px;
}
.navigation ul {
  list-style: none;
}
.navigation li {
  text-align: center;
  margin-top: 20px;
}

.sticky-nav {
  overflow: hidden;
  background: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky-nav ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
.sticky-nav ul li {
  display: inline;
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
}
.sticky-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px;
}
.sticky-nav ul li a:hover {
  background-color: #111;
}

.content {
  text-align: center;
}

.dropbtn {
  background: #dc143c;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background: #9c143c;
}

.well {
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: #000;
  background: #c0c0c0;
}

.well-sm {
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
}

.well-lg {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-green {
  color: #184f24;
  font-weight: bold;
  background-color: #68d683;
}

.alert-red {
  color: #891919;
  font-weight: bold;
  background-color: #ef5a5a;
}

.alert-silver {
  color: #000;
  font-weight: bold;
  background-color: #c0c0c0;
}

.alert-yellow {
  color: #82821c;
  font-weight: bold;
  background-color: #ecec5a;
}

.alert-blue {
  color: #106784;
  font-weight: bold;
  background-color: #6fcbea;
}

.box-green {
  width: 50px;
  height: 50px;
  background-color: #68d683;
  margin: 10px;
  padding: 10px;
}

.box-red {
  width: 50px;
  height: 50px;
  background-color: #dc143c;
  margin: 10px;
  padding: 10px;
}

.box-silver {
  width: 50px;
  height: 50px;
  background-color: #c0c0c0;
  margin: 10px;
  padding: 10px;
}

.box-black {
  width: 50px;
  height: 50px;
  background-color: #000;
  margin: 10px;
  padding: 10px;
}

.column-left {
  width: 10%;
  min-width: 20px;
  float: left;
  height: 100%;
}

.column-right {
  width: 10%;
  min-width: 20px;
  float: right;
  height: 100%;
}

.middle {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.item1 {
  grid-area: header;
  padding: 10px;
  margin: 10px;
}

.item2 {
  grid-area: menu;
  padding: 10px;
  margin: 10px;
}

.item3 {
  grid-area: main;
  padding: 10px;
  margin: 10px;
}

.item4 {
  grid-area: right;
  padding: 10px;
  margin: 10px;
}

.item5 {
  grid-area: footer;
  padding: 10px;
  margin: 10px;
}

.grid-container-1 {
  display: grid;
  grid-template-areas: "header header header header header header" "menu main main main right right" "menu footer footer footer footer footer";
  grid-gap: 10px;
  padding: 10px;
}

.grid-container-1 > div {
  padding: 20px 0;
  font-size: 20px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item-2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

hr.dashed {
  border-top: 6px dashed #000;
}

hr.dotted {
  border-top: 6px dotted #000;
}

hr.solid {
  border-top: 6px solid #000;
}

hr.rounded {
  border-top: 8px solid #000;
  border-radius: 5px;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: "Times New Roman", Times, serif;
}

.font-georgia {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.font-gill {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.font-gothic {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.font-lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 60%;
  }
}
.img-circle {
  min-width: 50px;
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}

.img-rounded-edge {
  min-width: 50px;
  max-width: 30%;
  height: auto;
  border-radius: 8px;
}

.img-hover:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.div_img_card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.div_img_container {
  text-align: center;
  padding: 10px 20px;
}

html {
  font: 100% Helvetica, sans-serif;
  height: 100%;
}

header {
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: 20px;
}

body {
  height: 100%;
  color: #c0c0c0;
}

footer {
  height: 100%;
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: 20px;
}

a:link {
  color: #c0c0c0;
}

a:visited a:hover a:active {
  color: #9c143c;
}

p {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  color: black;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
}

h3 {
  font-size: 34px;
  font-weight: bold;
  padding: 5px;
}

h4 {
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
}

h5 {
  font-size: 46px;
  font-weight: bold;
  padding: 5px;
}

h6 {
  font-size: 52px;
  font-weight: bold;
  padding: 5px;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #dc143c;
  color: #000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #9c143c;
}

table,
th,
td {
  font-size: 22px;
  border: 1px solid #ccc;
  padding: 5px;
}

th {
  font-weight: bold;
}

button {
  font-size: 22px;
}

code {
  font-family: "Consolas", "Courier New", "monospace";
}

/*# sourceMappingURL=style.css.map */
