$black-color: #000;
$silver-color: #c0c0c0;
$red-color: #dc143c;
$selectedRed: #9c143c;
$borderColor: #ccc;

.container {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 5px;
  color: black;
  width: 100%;
  display: inline-block;
}

.text_centered {
  text-align: center;
  justify-content: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.div-form {
  border-radius: 5px;
  background: #f2f2f2;
  padding: 20px;
}

.fg-black {
  color: $black-color;
}

.fg-silver {
  color: $silver-color;
}

.fg-red {
  color: $red-color;
}

.bg-black {
  background: $black-color;
}

.bg-silver {
  background: $silver-color;
}

.bg-red {
  background: $red-color;
}

.header-black {
  padding: 60px;
  text-align: center;
  background: $black-color;
  color: $silver-color;
  font-size: 30px;
}

.header-silver {
  padding: 60px;
  text-align: center;
  background: $silver-color;
  color: $silver-color;
  font-size: 30px;
}

.header-red {
  padding: 60px;
  text-align: center;
  background: $red-color;
  color: $silver-color;
  font-size: 30px;
}

.navigation {
  background: $black-color;
  padding: 20px;
  ul {
    list-style: none;
  }
  li {
    text-align: center;
    margin-top: 20px;
  }
}

.content {
  text-align: center;
}

.dropbtn {
  background: $red-color;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background: $selectedRed;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-green {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.column-left {
  width: 10%;
  float: left;
  height: 100%;
}

.column-right {
  width: 10%;
  float: right;
  height: 100%;
}

.middle {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.pag {
  
}