@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin box($width, $height, $background) {
  width: $width;
  height: $height;
  background-color: $background;
  margin: 10px;
  padding: 10px;
}

@mixin bordered($color, $width) {
  border: $width solid $color;
}

@mixin important-text($color, $background-color) {
  color: $color;
  font-weight: bold;
  background-color: $background-color;
}

%message-shared {
  @include bordered(#000, 1px);
  padding: 10px;
  color: #333;
}